/.metadata/
node_modules/
dist/

automized_extend_class_generator/DIST
automized_extend_class_generator/node_modules
automized_extend_class_generator/_ast_parser/node_modules
automized_extend_class_generator/_ast_parser/bindings.txt

local.properties

gen/
armeabi-v7a/
x86/
obj/
bin/
.svn/
